body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: 'Buda';
	font-weight: 400;
	line-height: 1.8em;
	color: #666;
}

.navigation{
	font-family: 'Buda';

}

.intro, .about {
	position: relative;
	
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;



	/*  fixed = parallax;
		scroll = normal
						*/

	background-attachment: fixed;

}

.ps-1 {
	  font-family: 'Buda';
}

.intro {
	background-image: url('display.jpg');
	min-height: 100%
}

.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 27px;
	letter-spacing: 8px;
	text-transform: uppercase;
}

.ptext .border {
	background-color: #111;
	color: #fff;
	padding: 20px;
}

.ptext .border.trans{
	background-color: transparent;
}

.about {
	background-image: url('first.jpg');
	min-height: 700px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: #f4f4f4;
	color: #666
}

.section-three {
	background-color:black;
	color: #ddd
}


.footer {
	background-color: #151515;
	color: #ddd
}

.section-dark {
	background-color:#212121;
	color: #ddd
}

.section-mine {
	opacity: 0.9888;
	background-color:#F2BD2F;
	color: #ddd
}
.section-mine-two {
	opacity: 0.9888;
	background-color: #E74C3C;
	color: #ddd
}


.problem-statement{
	text-align: center;
	color: white;
	font-size: 27px;
	text-transform: uppercase;
	font-family: 'Buda';


}


.problem-statement-one{
	text-align: left;
	color: teal;
	font-size: 27px;
	text-transform: uppercase;
	font-family: 'Buda';


}

a:hover {
  text-decoration: none;
}

header,
.demo,
.demo p {
  margin: 4em 0;
  text-align: center;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: yellow;
}


[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 500px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: left;
  font-size: 20px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@media(max-width: 568px){
	.intro, .about {
		background-attachment:scroll;
	}
}
